<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans classpath:xsd/spring-beans.xsd
       http://www.springframework.org/schema/beans classpath:xsd/spring-beans-3.1.xsd">

    <beans profile="dev">
        <bean id="sqlMaker" class="com.github.tester.SqlFactory"  />
        <bean id="columnTypeFactory" class="com.github.tester.ColumnTypeFactory" />
    </beans>
    <beans profile="test">
        <bean id="sqlMaker" class="com.github.tester.SqlFactory" />
        <bean id="columnTypeFactory" class="com.github.tester.ColumnTypeFactory" />
    </beans>
</beans>